<div class="container mt-5">
  <h2 class="text-center p-2"> My Direct </h2>

  <table class="table table-striped  table-hover">
    <thead>
      <tr class="text-white">
        <th>S.No</th>
        <th>Level</th>
        <th>Members</th>
        <th>Referral Amount</th>
        <th>Referral Income</th>
        <th> Active Members</th>
        <th> Withdrawal Income </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td> 1</td>
        <td>Level 1</td>
        <td>0</td>
        <td>₹600</td>
        <td>₹0</td>
        <td>0</td>
        <td>0</td>
      </tr>
      <tr>
        <td> 2</td>
        <td>Level 2</td>
        <td>0</td>
        <td>₹300</td>
        <td>₹0</td>
        <td>0</td>
        <td>0</td>
      </tr>
      <tr>
        <td> 3</td>
        <td>Level 3</td>
        <td>0</td>
        <td>₹400</td>
        <td>₹0</td>
        <td>0</td>
        <td>0</td>
      </tr>
      <tr>
        <td> 4</td>
        <td>Level 4</td>
        <td>0</td>
        <td>₹600</td>
        <td>₹0</td>
        <td>0</td>
        <td>0</td>
      </tr>
      <tr>
        <td> 5</td>
        <td>Level 5</td>
        <td>0</td>
        <td>₹500</td>
        <td>₹0</td>
        <td>0</td>
        <td>0</td>
      </tr>
      <tr>
        <td> 6</td>
        <td>Level 6</td>
        <td>0</td>
        <td>₹500</td>
        <td>₹0</td>
        <td>0</td>
        <td>0</td>
      </tr>
      <tr>
        <td> 7</td>
        <td>Level 7</td>
        <td>0</td>
        <td>₹600</td>
        <td>₹0</td>
        <td>0</td>
        <td>0</td>
      </tr>
      <tr>
        <td> 8</td>
        <td>Level 8</td>
        <td>0</td>
        <td>₹600</td>
        <td>₹0</td>
        <td>0</td>
        <td>0</td>
      </tr>
      <tr>
        <td> 9</td>
        <td>Level 9</td>
        <td>0</td>
        <td>₹600</td>
        <td>₹0</td>
        <td>0</td>
        <td>0</td>
      </tr>
      <tr>
        <td> 10</td>
        <td>Level 10</td>
        <td>0</td>
        <td>₹600</td>
        <td>₹0</td>
        <td>0</td>
        <td>0</td>
      </tr>
      <tr>
        <td> 11</td>
        <td>Level 11</td>
        <td>0</td>
        <td>₹600</td>
        <td>₹0</td>
        <td>0</td>
        <td>0</td>
      </tr>
      <tr>
        <td> 12</td>
        <td>Level 12</td>
        <td>0</td>
        <td>₹600</td>
        <td>₹0</td>
        <td>0</td>
        <td>0</td>
      </tr>
    </tbody>
  </table>
</div>