<div id="parent">
  <!-- ----------------------------------------mainimage div of login page -------------------------------------->
  <div id="sidediv">
    <img class="logo" src="../../assets/images/logoori.png" alt="logo">

    <img class="main" src="../../assets/images/loginori.png" alt="main">

  </div>

  <!------------------------------------------------------  login page form   --------------------------------------->
  <div id="logindiv">


    <div class="col-md-9 h-75" id="loginparent">

      <div class="" id="loginchild">
        <h1 class="text-center">Login</h1>

        <form class="form-horizontal" #f="ngForm">
          <div class="form-group p-4">
            <input ngModel name="username" class="w-100" #username="ngModel" type="text"
              placeholder="Enter your Username" required username>
          </div>
          <div class="form-group p-4">
            <input ngModel name="password" class="w-100" #password="ngModel" type="password" placeholder="Password"
              required>

          </div>
          <div class="checkbox w-100 m-lg-2">
            <label><input type="checkbox"> Remember me</label>
          </div>


          <button (click)="loginUser()" type="button" class="btn btn-default w-50 text-center mt-5 mybtn">Continue
            ></button>

        </form>

        <!-------------------------------------------------------- login text     ----------------------------->
        <table class="mt-4 mb-4  w-100">
          <tr>
            <td style="width:35%">
              <hr class="mt-1">
            </td>
            <td style="vertical-align:middle; text-align: center; width: 30%;">or login with </td>
            <td style="width:35%">
              <hr class="mt-1">
            </td>
          </tr>
        </table>
        <!-----------------------------------------------icons of the login page  --------------------------->
        <div class="icons">
          <button type="submit" class="btn "><i class="fab fa-google-plus-g p-2"></i> Google</button>

          <button type="submit" class="btn "><i class="fab fa-facebook-f p-2"></i> Facebook</button>

        </div>





      </div>

    </div>
  </div>
</div>