.main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.forms{
   
    width: 40vw;
    background-color: white;
}
.form-group label{
    width: 25%;
   text-align: start;
}
.myform{
    margin-top: 40px;
    text-align: center;
}
.myform label{
    width: 25%;
}
.myform input{
    outline:none;
    width: 70%;
    margin: 10px;
    
}
.myform select{
    width: 80%;
}