*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.parent{     /*parent element fof they page */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

/* left side div */
.leftside{
  width: 50%;
  height: 100%;
}
.main{
    
  position: absolute;
  z-index: 1;
  top: 0px;
 
  left: 0px;
  width: 50vw;
  height: 100vh;
}
.logo{
  position: absolute;
  z-index: 2;

  top: -5px;
  left: 0px;
  width: 210px;
  height: 100px;
  
}

/* right div */
.rightside{
 
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

/* form style */
.mainform{
  
  background-color: white;
  width: 70%;
  height: 80%;
}
.mainform input{
  border: 0;
outline: 0;
background: transparent;
border-bottom: 3px solid blue;

}
.mainform button{
  background:linear-gradient(to right,blue , #37d5d6 );
  
}
/* icons css */
.icons{
  width: 100%;
  
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.icons button{
  width: 40%;
  outline: none;
  padding: 5px;
  color: white;
  background:linear-gradient(to right,blue , #37d5d6 );
 
}